@model Desafio.Models.Tbl_Leilao

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tbl_Leilao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataAbertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAbertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFechamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFechamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescricaoProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorVendido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorVendido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdLeilao }) |
    @Html.ActionLink("Back to List", "Index")
</p>
